# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# Ignore git directory.
/.git/
/.gitignore

# Ignore all environment files.
/.env*

# Ignore storage (SQLite databases).
/storage/*
!/storage/.keep

# Ignore CI service files.
/.github

# Ignore build output.
/node_modules
/.next

# Ignore Docker-related files
/.dockerignore
/Dockerfile*
